# Xcode
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
*.xcuserstate
*.xcuserdatad/
*.xcworkspace/xcuserdata/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# macOS
.DS_Store

# Secrets / local env
*.env
secrets.plist
